/* テーブルコンテナ */
.table_container {
  width: 100%;
  max-width: 800px;
  margin-top: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* テーブルの項目 */
.tableCellTitle {
  font-size: 14px;
  font-weight: bold;
}

.tableLink {
  color: #1976d2;
  text-decoration: none;
}

.tableLink:hover {
  text-decoration: underline;
}
