/* 検索フォーム */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

/* 入力フィールド */
.body input[type="text"] {
  width: 95%;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.body button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
}

/* 検索ボタン */
.body button {
  display: block;
  background-color: #1976d2;
  width: 15%;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto 0;
  text-align: center;
}

/* スマホとタブレットの時のボタンの幅 */
@media (max-width: 768px) {
  .body button {
    width: 50%;
  }
}

.body button:hover {
  background-color: #1565c0;
}
